
body {
  background-color: #F8F8F8; 
  color:black; 
  font-family:Pacifico,serif; 
  font-size: 24px; 
  text-align:center;
}

.chooseKD {
	width: 30%;
 	height: 50%;
 	display: inline-block;
 	margin: 10px;
}

.chooseyarntexture {
 	width: 30%;
 	height: 50%;
 	display: inline-block;
 	margin: 10px;
 	margin-bottom: 40px;
}

.buttonframe {
  background-color: black; 
  padding: 10px; 
  border-radius: 20px;
}

button {
 	border-radius:20px; 
 	border: 0;
}

.buttonbackground {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 100%; 
  height: 75%;
}

.itemlabel { 
  padding: 8px;
}

.no_cc {
  height:200px;
  width: 300px;
}

.errormessage {
  font-family: courier; 
  font-size: 32px;
  color: blue;
  text-align: center; 
}

.colorwindowsdiv {
	width: calc(100% - 300px);
	height:275px;
	float: left;
	display: inline-block;
}

.colorwindowFrame {
  background-color: black; 
  padding: 10px; 
  border-radius: 100px;
  height:175px; 
  width: 175px;
  display: inline-block;
  text-align:center;
  vertical-align: middle;
}

.colorwindow {
  border-radius:100px; 
  border: 0;
  height:150px; 
  width: 150px;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
}

.colorwindowLabel {
  display:block;
  text-align:center;
  padding: 10px;
}

.hidden{
  display:none;
}


#cookiecuttercatface {
  z-index:1;
	width:300px;
	height:300px;
  -webkit-clip-path: polygon(24% 10%, 17% 38%, 13% 46%, 13% 57%, 17% 65%, 25% 74%, 35% 82%, 47% 85%, 53% 85%, 65% 82%, 75% 74%, 83% 65%, 87% 57%, 87% 46%, 83% 38%, 76% 10%, 60% 31%, 40% 31%);
  clip-path: polygon(24% 10%, 17% 38%, 13% 46%, 13% 57%, 17% 65%, 25% 74%, 35% 82%, 47% 85%, 53% 85%, 65% 82%, 75% 74%, 83% 65%, 87% 57%, 87% 46%, 83% 38%, 76% 10%, 60% 31%, 40% 31%);
}

    #catnose {
      z-index: 15;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(44% 65%, 56% 65%, 50% 71%);
      clip-path: polygon(44% 65%, 56% 65%, 50% 71%);
      background-color:#ffaa80
    }

    #catnoseoutline {
      z-index: 14;
      width:300px;
      height: 300px;
      -webkit-clip-path: polygon(43% 64.5%, 57% 64.5%, 50% 72%);
      clip-path: polygon(44% 65%, 56% 65%, 50% 71%);
      background-color:black;
    }

    #cateyeLpupil {
      z-index: 15;
      width:300px;
      height:300px;
      -webkit-clip-path: circle(4.0% at 40% 54%);
      clip-path: circle(4.0% at 40% 54%);
      background-color:black;
    }

    #cateyeLiris {
      z-index:14;
      width:300px;
      height:300px;
      -webkit-clip-path: circle(5.0% at 40% 54%);
      clip-path: circle(5.0% at 40% 54%);
      background-color: green;
    }

    #cateyeRpupil {
      z-index: 15;
      width:300px;
      height:300px;
      -webkit-clip-path: circle(4.0% at 60% 54%);
      clip-path: circle(4.0% at 60% 54%);
      background-color:black;
    }

    #cateyeRiris {
      z-index: 14;
      width:300px;
      height:300px;
      -webkit-clip-path: circle(5.0% at 60% 54%);
      clip-path: circle(4.0% at 60% 54%);
      background-color: green;
    }

    #ccLEFTear {
      z-index:11;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(76% 10%, 60% 31%, 66% 38%, 76% 35%, 83% 38%);
      clip-path: polygon(76% 10%, 60% 31%, 66% 38%, 76% 35%, 83% 38%);
    }

    #ccRIGHTear {
      z-index:12;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(24% 10%, 40% 31%, 36% 38%, 26% 35%, 17% 38%);
      clip-path: polygon(24% 10%, 40% 31%, 36% 38%, 26% 35%, 17% 38%);
    }

    #ccmuzzle {
      z-index: 12;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(44% 65%, 56% 65%, 65% 61%, 72% 64%, 74% 72%, 70% 80%, 63% 83%, 53% 79%, 47% 79%, 37% 83%, 30% 80%, 26% 72%, 28% 64%, 35% 61%);
      clip-path: polygon(44% 65%, 56% 65%, 65% 61%, 72% 64%, 74% 72%, 70% 80%, 63% 83%, 53% 79%, 47% 79%, 37% 83%, 30% 80%, 26% 72%, 28% 64%, 35% 61%);
    }

    #ccFACEchin {
      z-index: 11;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(36% 82%, 47% 79%, 53% 79%, 63% 82%, 65% 82%, 53% 85%, 47% 85%, 35% 82%);
      clip-path: polygon(36% 82%, 47% 79%, 53% 79%, 63% 82%, 65% 82%, 53% 85%, 47% 85%, 35% 82%);
    }

    #ccFACEface {
      z-index: 10;
      width:300px;
      height:300px;
      -webkit-clip-path: polygon(55% 58%, 54% 50%, 53% 42%, 51% 37%, 49% 37%, 47% 42%, 46% 50%, 45% 58%, 39% 68%, 41% 75%, 47% 80%, 53% 80%, 59% 75%, 61% 68%);
      clip-path: polygon(55% 58%, 54% 50%, 53% 42%, 51% 37%, 49% 37%, 47% 42%, 46% 50%, 45% 58%, 39% 68%, 41% 75%, 47% 80%, 53% 80%, 59% 75%, 61% 68%);
    }

#cookiecuttercatprofile {
  z-index: 1;
  width:500px;
	height:500px;
	-webkit-clip-path: polygon(88% 32%, 87% 38%, 89% 45%, 89% 50%, 91% 59%, 89% 68%,89% 73%, 84% 87%, 80% 90%, 76% 89%, 75% 86%, 78% 83%, 80% 73%, 66% 45%, 81% 60%,64% 51%, 71% 47%, 84% 42%, 79% 48%, 72% 75%, 69% 79%, 65% 85%, 61% 87%, 58% 87%,57% 84%, 61% 81%, 64% 73%, 62% 65%, 59% 48%, 68% 58%, 62% 58%, 56% 60%, 47% 61%,36% 61%, 34% 57%, 33% 54%, 38% 46%, 37% 53%, 37% 67%, 34% 76%, 32% 84%, 29% 87%,26% 87%, 24% 85%, 25% 83%, 27% 81%, 28% 72%, 22% 55%, 29% 47%, 34% 42%, 24% 69%,20% 75%, 18% 78%, 16% 84%, 13% 86%, 9% 85%, 9% 82%, 11% 80%, 13% 75%, 14% 69%, 14% 60%, 15% 54%, 13% 45%, 14% 38%, 12% 34%, 4% 31%, 2% 28%, 2% 24%, 7% 20%, 9% 17%, 12% 15%, 14% 9%, 18% 16%, 20% 21%, 22% 24%, 25% 28%, 32% 28%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 78% 33%, 81% 31%, 82% 27%, 81% 22%,79% 19%, 76% 15%, 67% 12%, 61% 9%, 58% 5%, 59% 2%, 62% 3%, 66% 6%, 72% 8%, 78% 10%, 83% 14%, 87% 19%, 88% 24%, 88% 30%);
	clip-path: polygon(88% 32%, 87% 38%, 89% 45%, 89% 50%, 91% 59%, 89% 68%, 89% 73%, 84% 87%, 80% 90%, 76% 89%, 75% 86%, 78% 83%, 80% 73%, 66% 45%, 81% 60%, 64% 51%, 71% 47%, 84% 42%, 79% 48%, 72% 75%, 69% 79%, 65% 85%, 61% 87%, 58% 87%,57% 84%, 61% 81%, 64% 73%, 62% 65%, 59% 48%, 68% 58%, 62% 58%, 56% 60%, 47% 61%,36% 61%, 34% 57%, 33% 54%, 38% 46%, 37% 53%, 37% 67%, 34% 76%, 32% 84%, 29% 87%,26% 87%, 24% 85%, 25% 83%, 27% 81%, 28% 72%, 22% 55%, 29% 47%, 34% 42%, 24% 69%,20% 75%, 18% 78%, 16% 84%, 13% 86%, 9% 85%, 9% 82%, 11% 80%, 13% 75%, 14% 69%, 14% 60%, 15% 54%, 13% 45%, 14% 38%, 12% 34%, 4% 31%, 2% 28%, 2% 24%, 7% 20%, 9% 17%, 12% 15%, 14% 9%, 18% 16%, 20% 21%, 22% 24%, 25% 28%, 32% 28%, 39% 30%, 45% 30%, 52% 30%, 58% 30%, 65% 30%, 72% 31%, 78% 33%, 81% 31%, 82% 27%, 81% 22%,79% 19%, 76% 15%, 67% 12%, 61% 9%, 58% 5%, 59% 2%, 62% 3%, 66% 6%, 72% 8%, 78% 10%, 83% 14%, 87% 19%, 88% 24%, 88% 30%);
}
    
    #ccrbp {
      z-index:2;
      width:500px;
      height:500px;
     -webkit-clip-path: polygon(65% 85%, 61% 87%, 58% 87%, 57% 84%, 61% 81%, 63% 81%, 66% 83%);
    	clip-path: polygon(65% 85%, 61% 87%, 58% 87%, 57% 84%, 61% 81%, 64% 81%, 66% 83%);
    }

    #cctail {
      z-index: 3;
      width: 500px;
      height: 500px;
      -webkit-clip-path: polygon(66% 6%, 62% 3%, 59% 2%, 58% 5%, 61% 9%, 62% 9%, 64% 8%);
      clip-path: polygon(66% 6%, 62% 3%, 59% 2%, 58% 5%, 61% 9%, 62% 9%, 64% 8%);
    }

    #cclbp {
      z-index:4;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(85% 87%, 80% 90%, 76% 89%, 75% 86%, 78% 83%, 83% 83%, 85% 84%);
      clip-path: polygon(85% 87%, 80% 90%, 76% 89%, 75% 86%, 78% 83%, 83% 82%, 85% 84%);
    }

    #ccrfp {
      z-index:5;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(11% 80%, 11% 80%, 14% 80%, 16% 82%, 16% 84%, 13% 86%, 9% 85%, 9% 82%);
      clip-path: polygon(11% 80%, 11% 80%, 14% 80%, 16% 82%, 16% 84%, 13% 86%, 9% 85%, 9% 82%);
    }

    #cclfp {
      z-index: 6;
      width: 500px;
      height: 500px;
      -webkit-clip-path: polygon(31% 82%, 27% 81%, 25% 83%, 24% 85%, 26% 87%, 29% 87%, 32% 84%);
      clip-path: polygon(31% 82%, 27% 81%, 25% 83%, 24% 85%, 26% 87%, 29% 87%, 32% 84%);
    }

    #ccstomach {
      z-index:7;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(56% 60%, 47% 61%, 37% 61%, 37% 58%, 68% 56%, 71% 58%, 62% 58%);
      clip-path: polygon(56% 60%, 47% 61%, 37% 61%, 37% 58%, 68% 56%, 71% 58%, 62% 58%);
    }

    #ccchest {
      z-index:8;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(15% 53%, 13% 45%, 14% 38%, 12% 34%, 15% 35%, 22% 55%, 25% 60%);
      clip-path: polygon(15% 53%, 13% 45%, 14% 38%, 12% 34%, 15% 35%, 22% 55%, 25% 60%);
    }

    #ccchin {
      z-index: 9;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(7% 31%, 2% 28%, 4% 31%, 12% 34%, 15% 35%, 14% 34%);
      clip-path: polygon(7% 31%, 2% 28%, 4% 31%, 12% 34%, 15% 35%, 14% 34%);
    }

    #ccBODYears {
      z-index:9;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(14% 9%, 18% 16%, 15% 17%, 12% 15%);
      clip-path: polygon(14% 9%, 18% 16%, 14% 18%, 12% 15%);
    }

    #ccBODYmuzzle {
      z-index: 12;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(3% 29%, 6% 28%, 6% 26%, 4% 24%, 2% 25%, 2% 28%);
      clip-path: polygon(3% 29%, 6% 28%, 6% 26%, 4% 24%, 2% 25%, 2% 28%);
    }

    #ccBODYface {
      z-index: 11;
      width:500px;
      height:500px;
      -webkit-clip-path: polygon(8.75% 18.5%, 8.25% 18%, 7% 20%, 2% 24%, 3% 25%, 2% 25%, 2% 28%, 3% 27%, 3.5% 26%, 4.5% 24%, 6% 22%, 8% 20%);
      clip-path: polygon(8.75% 18.5%, 8.25% 18%, 7% 20%, 2% 24%, 3% 25%, 2% 25%, 2% 28%, 3% 27%, 3.5% 26%, 4.5% 24%, 6% 22%, 8% 20%);
    }

.catpart {
  position: absolute;
  background-size: 50px auto;
}

.catfacediv {
	float: right; 
	height:275px; 
	width:300px; 
	background-color:gray;
	display:block;
}

.step3spacing {
	width:100%; 
	height:10px;
	float:left;
}

.catprofilediv {
	float: right; 
	height: 475px; 
	width: 475px; 
	background-color:gray;
	display:block;
}

#checkboxesForm {
	width: calc(100% - 475px);
	float: left;
	padding-left:40px;
	text-align: left;
}

.step3continue {
	float:left;
	width: 100%;
	height: 10%;
}
